*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
    background-size: 100 vw 100vh;
    background-attachment: fixed;
    background-color: #ebebeb;
}

.container{
    width:100%;
    padding: 70px 0px;
    margin: auto;
}

/*Navegacion*/
.navigation{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    width: 100%;
    height: 12vh;
    padding: 10px 60px;
    position: fixed;
    background-color: #686767;
}

.main-menu, .menu-icon{
    display: flex;  
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style: none;
    height: 100%;
} 

.menu-link{
    text-decoration: none;
    color: #fff;
    padding: 0.5em;
}

.menu-icon{
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
} 

.link-icon{
    font-size: 1.3em;
    color: #fff;
    width: auto;
}

.menu-link:hover{
    background-color: #464545;
}

.link-icon:hover{
    color: #464545;
}

.menu-tog{
    display: none;
    margin-left: auto;
    color: #fff;
    line-height: 60px;
    font-size: 25px;
    cursor: pointer;
}

/*Acerca*/

.banner{
    padding: 100px;
    width: 100%;
    height: 90vh;
    margin: auto;
    background: url(images/banner.jpg) no-repeat center center/cover;
    text-align: center;
    color: #fff;
}

.banner h1{
    padding: 50px;
    font-size: 50px;
} 

.banner h2{
    padding: 30px;
    color: #BDBDBD;
    font-size: 40px;
}

/*Acerca*/

#about{
    padding: 90px;
    text-align: center;
}

#about img{
    padding: 20px;
    width: 250px;
    height: 300px;
    border-radius: 20%;
    text-align: center;   
}

#about h2{
    color: #fff;
    font-size: 35px;
    background-color: #666;
}

#about p{
    padding: 20px;
    font-size: 20px;
    margin-bottom: 2em;
}


/*Conocimientos*/

#skills, #projects, #contact{
    padding: 90px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#skills .tec{
    width: 100%;
    margin: auto;
    text-align: center;
}

#skills .tec h2{
    color: #fff;
    font-size: 35px;
    background-color: #666;
}

#skills .tec p{
    padding: 20px;
    font-size: 20px;
}

.card{
    margin: auto;
    width: 20%;
    height: 200px;
    text-align: center;
    white-space: nowrap;
}

.card img{
    padding: 20px;
    width: 170px;
    height: 170px;
    
}

.card h4{
    text-align: center;
    font-size: 15px;
    padding: 10px;
}


#projects .tittle, #contact .tittle{
    width: 100%;
    margin: auto;
    text-align: center;
}

#projects .tittle h2, #contact .tittle h2{
    color: #fff;
    font-size: 35px;
    text-align: center;
    background-color: #666;
}

.projectCard{
    height: 320px;
    margin: auto;
    padding: 30px;
    text-align: center;
}

.projectCard img{
    padding: 20px;
    height: 200px;
    width: 220px;
}

.projectCard h4{
    font-size: 15px;
    text-align: center;
    padding-bottom: 40px;
}

.btnAll{
    padding: 15px;
    width: auto;
    background-color: #3773BA;
    text-decoration: none;
    color: #fff;
    border-radius: 20px;
}

.btnAll a{
    padding: 20px;
}

#contact{
    height: 100vh;
}

.contact-logo img{
    padding: 20px;
    width: 160px;
    height: 110px;
}

/*Formulario Contacto*/

/* #contact form{
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-style: inset;
    border-radius: 10px;
    background-color: #bbbbbb;
}

#contact h2{
    color: #000;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

#contact input, #contact textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 17px;
    border-style: #373737;
}

#contact textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#btn{
    background-color: #3773BA;
    color: #fff;
    padding: 20px;
    border-style: none;
}

#btn:hover{
    cursor: pointer;
    background-color: #1d4ba2;
} */

/*Footer*/

hr{
    border: 1px solid #373737;
}

footer{
    color: #fff;
    text-align: center;
    background-color: #545454;
}

footer h2{
    font-size: 16px;
    padding: 30px;
}

footer h2 span{
    font-weight: bold;
}

@media screen and (max-width:700px){

    .navigation{
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 85vw;
        background-color: #686767;
        transition: transform 0.5s;
        transform: translateX(-100%);
    }

    .navigation--show{
        transform: translateX(0%);
    }

    .main-menu{    
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;   
        margin-top: 5em;
    }

    .menu-item{
        padding: 1.5em;
    }

    .menu-icon{
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 10em;
    }

    .menu-tog{
        position: absolute;
        right: 1rem;
        align-self: center;
        display: block;
    }

    .r-menu-area{
        display: flex;
        justify-content: center;
        align-self: center;
        position: fixed;
        background-color: #686767;
        opacity: 0.7;
        width: 100vw;
        height: 9.3vh;
    }

    .banner{
        width: 100%;
        margin: auto;
        height: 100vh;

        
    }

    .banner h1{
        width: 100%;
        padding: 10%;
        font-size: 30px;
    }

    .banner h2{
        width: 100%;
        padding: 10%;
        font-size: 17px;
        max-width: 450px;
    }

    #about h2,
    #skills .tec h2,
    #projects .tittle h2,
    #contact .tittle h2{
        font-size: 25px;
    }

    /* #contact form{
        width: 100%;
    } */

    #about img{
        width: 200px;
        height:250px;
    }

    #skills{
        padding: 90px;
        width: 100%;
        margin: auto;
        box-sizing: border-box;
        display: block;
        justify-content: space-between;  
    }

    .card{
        margin: auto;
        width: 100%;
        height: 200px;
        text-align: center;
        white-space: nowrap;
    }
    
    .card img{
        padding: 20px;
        width: 170px;
        height: 170px;
    }
    
    .card h4{
        text-align: center;
        font-size: 15px;
        padding: 10px;
    }

    #projects{
        width: 100%;
    }

    .projectCard{
        width: 100%
    }
    
    .projectCard img{
        width: 120px;
        height: 100px;
        text-align: center;
    }

    #contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-logo img{
        margin: 30px;
    }
}