*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family: 'Raleway', sans-serif;
    background-size: 100 vw 100vh;
    background-attachment: fixed;
    background-color: #ebebeb;
}

ul{
    list-style: none;
}

.container{
    width:100%;
    padding: 70px 0px;
    margin: auto;
}

/*Navegacion*/
.navigation{
    font-size: 17px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    height: 70px;
    padding: 10px 90px;
    color: #fff;
    position: fixed;
    background-color: #686767;
}

.navigation ul{
    display: flex;  
}


.navRight a{
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}

.navRight a:hover{
    background-color: #464545;
}

.navLeft {
    padding-left: 40%;
}

.navLeft li a{
    padding: 20px;
    color: #fff;
}

.menu-tog{
    display: none;
    margin-left: auto;
    color: #fff;
    line-height: 60px;
    font-size: 25px;
    cursor: pointer;
}

/*Acerca*/

.banner{
    padding: 100px;
    width: 100%;
    height: 650px;
    margin: auto;
    background: url(images/banner.jpg) no-repeat center center/cover;
    text-align: center;
    color: #fff;
}

.banner h1{
    padding: 50px;
    font-size: 50px;
} 

.banner h2{
    padding: 30px;
    color: #BDBDBD;
    font-size: 40px;
}

/*Acerca*/

#about{
    padding: 90px;
    text-align: center;
}

#about img{
    padding: 20px;
    width: 250px;
    height: 300px;
    border-radius: 20%;
    text-align: center;   
}

#about h2{
    color: #fff;
    font-size: 35px;
    background-color: #666;
}

#about p{
    padding: 20px;
    font-size: 20px;
}

/*Conocimientos*/

#skills{
    padding: 90px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#skills .tec{
    width: 100%;
    margin: auto;
    text-align: center;
}

#skills .tec h2{
    color: #fff;
    font-size: 35px;
    background-color: #666;
}

#skills .tec p{
    padding: 20px;
    font-size: 20px;
}

.card{
    margin: auto;
    width: 20%;
    height: 200px;
    text-align: center;
    white-space: nowrap;
}

.card img{
    padding: 20px;
    width: 170px;
    height: 170px;
    
}

.card h4{
    text-align: center;
    font-size: 15px;
    padding: 10px;
}


/*Proyectos*/
#projects{
    padding: 90px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#projects .tittle{
    width: 100%;
    margin: auto;
    text-align: center;
}

#projects .tittle h2 {
    color: #fff;
    font-size: 35px;
    text-align: center;
    background-color: #666;
}

.projectCard{
    height: 320px;
    margin: auto;
    padding: 30px;
    text-align: center;
}

.projectCard img{
    padding: 20px;
    height: 200px;
    width: 220px;
}

.projectCard h4{
    font-size: 15px;
    text-align: center;
    padding-bottom: 40px;
}

#projects .btnVer{
    padding: 15px;
    width: auto;
    background-color: #3773BA;
    text-decoration: none;
    color: #fff;
    border-radius: 20px;
}

#projects .btnVer a{
    padding: 20px;
}

/*Formulario Contacto*/
#contact{
    padding: 90px;
    
}

#contact form{
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-style: inset;
    border-radius: 10px;
    background-color: #bbbbbb;
}

#contact h2{
    color: #000;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

#contact input, #contact textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 17px;
    border-style: #373737;
}

#contact textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#btn{
    background-color: #3773BA;
    color: #fff;
    padding: 20px;
    border-style: none;
}

#btn:hover{
    cursor: pointer;
    background-color: #1d4ba2;
}

/*Footer*/

hr{
    border: 1px solid #373737;
}

footer{
    color: #fff;
    text-align: center;
    background-color: #545454;
}

footer h2{
    font-size: 16px;
    padding: 30px;
}

footer h2 span{
    font-weight: bold;
}

@media screen and (max-width:700px){

    .menu-tog{
        display: block;
    }

    .banner{
        width: 100%;
        margin: auto;
    }

    .banner h1{
        width: 100%;
        padding: 10%;
        font-size: 30px;
    }

    .banner h2{
        width: 100%;
        padding: 10%;
        font-size: 17px;
        max-width: 450px;
    }

    #about h2,
    #skills .tec h2,
    #projects .tittle h2{
        font-size: 25px;
    }

    #contact form{
        width: 100%;
    }

    #about img{
        width: 200px;
        height:250px;
    }

    #skills{
        padding: 90px;
        width: 100%;
        margin: auto;
        box-sizing: border-box;
        display: block;
        justify-content: space-between;  
    }

    .card{
        margin: auto;
        width: 100%;
        height: 200px;
        text-align: center;
        white-space: nowrap;
    }
    
    .card img{
        padding: 20px;
        width: 170px;
        height: 170px;
    }
    
    .card h4{
        text-align: center;
        font-size: 15px;
        padding: 10px;
    }

    #projects{
        width: 100%;
    }

    .projectCard{
        width: 100%
    }
    
    .projectCard img{
        width: 120px;
        height: 100px;
        text-align: center;
    }
}